<h2>Post Create Components Here</h2>
<hr>

<!-- without two way binding use angular form-->
<!-- mat-card, matInput and mat-form-field is angular material property -->
<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
        <input
        matInput
        type="text"
        name="title"
        ngModel
        required
        minlength="3"
        #title = "ngModel">
        <!-- //or add <mat-error *ngIf="postForm.getControl('title').invalid">-->
        <mat-error *ngIf="title.invalid">Please Enter a post Title And Length of title should be greater then 3.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
      matInput
      rows="5"
      name="content"
      ngModel
      required
      minlength="5"
      #content="ngModel">
    </textarea>
    <mat-error *ngIf="content.invalid">Please Enter a post Content And Length of Content should be greater then 5.</mat-error>
    </mat-form-field><br>
    <button
      mat-raised-button
      color="accent"
      type="submit">Post Submit
    </button>
  </form>
</mat-card>


<!-- two way binding -->
<!-- mat-card, matInput and mat-form-field is angular material property -->
<!-- <mat-card>
  <mat-form-field>
      <input matInput type="text" [(ngModel)]="enteredTitle">
  </mat-form-field>
  <mat-form-field>
    <textarea matInput rows="5" [(ngModel)]="enteredContent"></textarea>
  </mat-form-field><br>
  <button
    mat-raised-button
    color="warn"
    (click)="onAddPost()">Post Submit
  </button>
</mat-card> -->


<!-- Old message show in enter below -->
<!-- <p>{{ newPost }}</p>// string interpulation concept -->


<!-- one way Binding -->
<!-- <textarea cols="40" rows="5" [value]="newPost" #postInput> -->
  <!-- {{ newPost }} -->
<!-- </textarea> -->


<!-- <input type="button" value="Post Submit" (click)="onAddPost()"/> -->
